{% extends 'base.html' %}
{% block title %}Test użytkownika {{ test.student.user.first_name }}{% endblock %}
{% block content %}
<h1>{{ test.label }}</h1>
<h2>{{ student.user.first_name }} {{ student.user.last_name }}</h2>
<hr>
    <ol>
    {% for task, answer in tasks_answers %}
    <h3>Zadanie {{ forloop.counter }}</h3>
    <li><p>{{ task.content|linebreaks }}</p></li>
    {% if task.image %}
        <img src="{{ task.image.url }}">
    {% endif %}
    {% if task.file %}
    <audio controls>
    <source src="{{ task.file.url }}">
    </audio>
    {% endif %}
    <p><b>Odpowiedz:</b></p>
    <p>
        {% if answer.first.task.type.label == 'zamkniete' %}
        {{ answer.first.char_field }}
        {% if answer.first.answer_option.img %}
            <img src="{{ answer.first.answer_option.img.url }}">
        {% endif %}
        {% if not answer.first.is_correct %}
            <p><b>Poprawna odpowiedz:</b> {{ task.correct_answer_option.label }}</p>
            {% if task.correct_answer_option.img %}
                <img src="{{ task.correct_answer_option.img.url }}">
            {% endif %}
        {% endif %}
    {% elif answer.first.task.type.label == 'krotka odpowiedz' %}
        {{ answer.first.char_field }}
        {% if not answer.first.is_correct %}
            <p><b>Poprawna odpowiedz:</b> {{ task.correct_answer }}</p>
        {% endif %}
    {% elif task.type.label == 'prawda/fałsz' %}
        <ol>
        {% for a in answer %}
        <li>{{ a.true_false.content }} | {{ a.char_field }}</li>
        {% if not a.is_correct %}
            <p>Poprawna odpowiedz: {% if a.true_false.is_correct %} Prawda {% else %} Fałsz {% endif %}</p>
        {% endif %}
        {% endfor %}
        </ol>
    {% elif answer.first.task.type.label == 'tablica' %}
        {% if answer.first.board %}
            <img src="{{ answer.first.board.url }}">
        {% else %}
            <p>Nie udzieliłes odpowiedzi na to pytanie</p>
        {% endif %}
    {% elif answer.first.task.type.label == 'otwarte' %}
        <p>{{ answer.first.textarea|linebreaks }}</p>
    {% endif %}
    </p>
        <p>
        Punktacja:
        </p>
        <p>
            {{ answer.first.earned_points }} /
            <b>{{ task.points }}</b>
        </p>
    {% endfor %}
    </ol>

    <p></p>
    {% if test.mark  %}<h1>Ocena: {{ test.mark }}</h1>{% endif %}
    <h3>{{ test.total_points }} / {{ test.blank_test.total_points }}</h3>
{% endblock %}