{% extends 'base.html' %}
{% block title %}Test użytkownika {{ test.student.user.first_name }}{% endblock %}
{% block content %}
<h1>{{ test.label }}</h1>
<h2>{{ student.user.first_name }} {{ student.user.last_name }}</h2>
<hr>
    <ol>
    {% for task, answer in tasks_answers %}
    <li><h3>{{ task.content }}</h3></li>
    {% if task.image %}
        <img src="{{ task.image.url }}">
    {% endif %}
    <p><b>Odpowiedz:</b></p>
    <p>
    {% if answer.task.type.label == 'zamkniete' or answer.task.type.label == 'krotka odpowiedz' %}
        {{ answer.char_field }}
        {% if not answer.is_correct %}
            <p><b>Poprawna odpowiedz:</b> {{ task.correct_answer_option.label }}</p>
        {% endif %}
    {% elif answer.task.type.label == 'otwarte' %}
        {{ answer.textarea }}
    {% elif answer.task.type.label == 'tablica' %}
        {% if answer.board %}
            <img src="{{ answer.board.url }}">
        {% else %}
            <p>Nie udzieliłes odpowiedzi na to pytanie</p>
        {% endif %}
    {% endif %}
    </p>
        <p>
        Punktacja:
        </p>
        <p>
            {{ answer.earned_points }} /
            <b>{{ task.points }}</b>
        </p>
    {% endfor %}
    </ol>

    <p></p>
    {% if test.mark  %}<h1>Ocena: {{ test.mark }}</h1>{% endif %}
    <h3>{{ test.total_points }} / {{ test.blank_test.total_points }}</h3>
{% endblock %}