{% extends 'base.html' %}
{% load static %}
{% block title %}
Odrzucone usprawiedliwienie
{% endblock %}
{% block content %}
<ul>
{% for excuse in rejected_excuses %}
<li>
    komentarz: {{ excuse.comment }}
</li>
<ul>
    <li>
    {% for absence in excuse.frequency.all %}
    {% if absence.lesson.replacement %}
    <p>{{ absence.lesson.schedule_element.bell.number_of_lesson }} {{ absence.lesson.replacement.subject.name }} {{ absence.lesson.replacement.date }}</p>
    {% else %}
    <p>{{ absence.lesson.schedule_element.bell.number_of_lesson }} {{ absence.lesson.schedule_element.group.subject.name }} {{ absence.lesson.date }}</p>
    {% endif %}
    {% endfor %}
    </li>
</ul>
{% endfor %}
</ul>
{% endblock %}