{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dodaj uczniów
{% endblock %}
{% block content %}
<p>
Pobierz plik do wpisania danych uczniow
<a href="{% static 'files/uczniowie.xlsx' %}" download>(kliknij tutaj)</a>,
wypelnij go a nastepnie dodaj w polu ponizej. Na koniec kliknij zatwierdz.
</p>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="file" name="file">
<div>
    <label>imię:</label>
    <input type="text" name="first_name">
    <label>nazwisko:</label>
    <input type="text" name="last_name">
    <label>email rodzica:</label>
    <input type="email" name="email">
</div>
<button type="submit">Zatwierdz</button>
</form>
{% endblock %}