{% extends 'base.html' %}
{% block title %}
    Panel dyrektora szkoły
{% endblock %}
{% block content %}
    <a href="{% url 'edit_school_information' %}">Edytuj informacje o szkole</a>
    <h3>Rok szkolny: <a href="{% url 'school_year_details' school_year.id %}">{{ school_year.name }}</a></h3>
    <a href="{% url 'bells' %}">Rozkład dzwonków</a><br>
    <a href="{% url 'add_class_template' %}">Dodaj szablon klasy</a>

    <h3><a href="{% url 'students_view' %}">Uczniowie</a></h3>
    <h3><a href="{% url 'teachers_view' %}">Nauczyciele</a></h3>
    <h3><a href="{% url 'teachers_class_list' %}">Klasy</a></h3>
{% endblock %}
