{% extends 'base.html' %}
{% block title %}
Lekcja
{% endblock %}
{% block content %}
{% if lesson.replacement %}
<h1>Zastępstwo</h1>
{% endif %}
<h1>
    {% if lesson.replacement %}
    {% for class in lesson.schedule_element.group.related_classes.all %}
        {{ class.number }} {{ class.class_template.name }}
    {% endfor %}
    {{ lesson.replacement.subject }}
    {% else %}
    {{ lesson.schedule_element.group.name }}
    {% endif %}
</h1>

{% if not lesson.replacement %}
    <a href="{% url 'schedule_event' lesson.schedule_element.group.id %}">Zaplanuj wydarzenie</a>
{% endif %}

<p>Godzina lekcyjna: {{ lesson.schedule_element.bell.number_of_lesson }}</p>

<h2>Bierząca lekcja</h2>
<form method="post">
{% csrf_token %}
<label>Temat</label><br>
<input value="{{ lesson.topic }}" type="text" name="topic"><br>
<label>Notatki</label><br>
<textarea name="notes">{{ lesson.notes }}</textarea><br>
<label>Praca domowa</label><br>
<textarea name="homework">{{ lesson.homework }}</textarea><br>
<button id="save_btn" type="submit">Zapisz</button>
</form>

{% if events %}
<h2>Zaplanowane na dzisiaj: </h2>
<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'event_details' event.id %}" style="color: {{ event.color }}">{{ event.type }}</a>
            {% if event.description %}
            <p style="color: {{ event.color }}">{{ event.description }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}

{% if last_lesson %}
<h2>Poprzednia lekcja</h2>
<b>Temat:</b>
<p>{{ last_lesson.topic }}</p>
<b>Notatki:</b>
<p>{{ last_lesson.notes }}</p>
<b>Praca domowa:</b>
<p>{{ last_lesson.homework }}</p>
{% endif %}

<a href="{% url 'take_the_register' lesson.slug %}">Sprawdz obecność</a>

{% if prev_lesson %}
<h4>Poprzednia lekcja: </h4>
<p>Temat: {{ prev_lesson.topic }}</p>
<p>Notatki własne: {{ prev_lesson.notes }}</p>
<p>Praca domowa: {{ prev_lesson.homework }}</p><br><br>
{% endif %}

<h3>Semestr 1</h3>
<a href="{% url 'add_grades_to_all_students' lesson.schedule_element.group.id term1.id subject.id %}?next={{ request.path|urlencode }}">Wstaw oceny wszystkim za jednym zamachem</a>
<table border="1">
<tr>
    <td>Nr</td>
    <td>Imię i nazwisko</td>
    <td>Oceny</td>
    <td>Średnia ocen</td>
    <td>Proponowana śródroczna</td>
    <td>Śródroczna</td>
</tr>
{% for student, frequency, grades, term1_mean, term1_predicted_grade, term1_final_grade in term1_grades %}
<tr>
    <td>
        {{ forloop.counter }}
    </td>
    <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
    <td>
        {% for grade in grades %}
            <a href="{% url 'edit_grade' grade.id %}?next={{ request.path|urlencode }}" style="margin: 5px">{{ grade.mark.sign }}</a>
        {% endfor %}
        {% if lesson.replacement %}
        <a href="{% url 'add_grade' student.id lesson.replacement.subject.id term1.id %}?next={{ request.path|urlencode }}">+</a>
        {% else %}
        <a href="{% url 'add_grade' student.id lesson.schedule_element.group.subject.id term1.id %}?next={{ request.path|urlencode }}">+</a>
        {% endif %}
    </td>
    <td>{{ term1_mean }}</td>
    <td>
        {% if term1_predicted_grade %}
            {% if not lesson.replacement %}
            <a href="{% url 'edit_final_grade' term1_predicted_grade.id %}?next={{ request.path|urlencode }}">{{ term1_predicted_grade.mark }}</a>
            {% else %}
            {{ term1_predicted_grade.mark }}
            {% endif %}
        {% else %}
            {% if not lesson.replacement %}
            <a href="{% url 'add_final_grade' student.id term1.id lesson.schedule_element.group.subject.id 1 0 %}?next={{ request.path|urlencode }}">+</a>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if term1_final_grade %}
            {% if not lesson.replacement %}
            <a href="{% url 'edit_final_grade' term1_final_grade.id %}?next={{ request.path|urlencode }}">{{ term1_final_grade.mark }}</a>
            {% else %}
            {{ term1_final_grade.mark }}
            {% endif %}
        {% else %}
            {% if not lesson.replacement %}
            <a href="{% url 'add_final_grade' student.id term1.id lesson.schedule_element.group.subject.id 0 0 %}?next={{ request.path|urlencode }}">+</a>
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

<h3>Semestr 2</h3>
<a href="{% url 'add_grades_to_all_students' lesson.schedule_element.group.id term2.id subject.id %}?next={{ request.path|urlencode }}">Wstaw oceny wszystkim za jednym zamachem</a>
<table border="1">
<tr>
    <td>Nr</td>
    <td>Imię i nazwisko</td>
    <td>Oceny</td>
    <td>Średnia ocen</td>
    <td>Proponowana śródroczna</td>
    <td>Śródroczna</td>
    <td>Roczna</td>
</tr>
{% for student, frequency, grades, term2_mean, term2_predicted_grade, term2_final_grade, final_grade in term2_grades %}
<tr>
    <td>
        {{ forloop.counter }}
    </td>
    <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
    <td>
        {% for grade in grades %}
            <a href="{% url 'edit_grade' grade.id %}?next={{ request.path|urlencode }}" style="margin: 5px">{{ grade.mark.sign }}</a>
        {% endfor %}
        {% if lesson.replacement %}
        <a href="{% url 'add_grade' student.id lesson.replacement.subject.id term2.id %}?next={{ request.path|urlencode }}">+</a>
        {% else %}
        <a href="{% url 'add_grade' student.id lesson.schedule_element.group.subject.id term2.id %}?next={{ request.path|urlencode }}">+</a>
        {% endif %}
    </td>
    <td>{{ term2_mean }}</td>
    <td>
        {% if term2_predicted_grade %}
            {% if not lesson.replacement %}
            <a href="{% url 'edit_final_grade' term2_predicted_grade.id %}?next={{ request.path|urlencode }}">{{ term2_predicted_grade.mark }}</a>
            {% else %}
            {{ term2_predicted_grade.mark }}
            {% endif %}
        {% else %}
            {% if not lesson.replacement %}
            <a href="{% url 'add_final_grade' student.id term2.id lesson.schedule_element.group.subject.id 1 0 %}?next={{ request.path|urlencode }}">+</a>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if term2_final_grade %}
            {% if not lesson.replacement %}
            <a href="{% url 'edit_final_grade' term2_final_grade.id %}?next={{ request.path|urlencode }}">{{ term2_final_grade.mark }}</a>
            {% else %}
            {{ term2_final_grade.mark }}
            {% endif %}
        {% else %}
            {% if not lesson.replacement %}
            <a href="{% url 'add_final_grade' student.id term2.id lesson.schedule_element.group.subject.id 0 0 %}?next={{ request.path|urlencode }}">+</a>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if final_grade %}
            {% if not lesson.replacement %}
            <a href="{% url 'edit_final_grade' final_grade.id %}?next={{ request.path|urlencode }}">{{ final_grade.mark }}</a>
            {% else %}
            {{ final_grade.mark }}
            {% endif %}
        {% else %}
            {% if not lesson.replacement %}
            <a href="{% url 'add_final_grade' student.id 0 lesson.schedule_element.group.subject.id 0 1 %}?next={{ request.path|urlencode }}">+</a>
            {% endif %}
        {% endif %}
    </td>

</tr>
{% endfor %}
</table>
{% endblock %}
