{% extends 'base.html' %}
{% block title %}
Lekcja
{% endblock %}
{% block content %}
{% if lesson.replacement %}
<h1>Zastępstwo</h1>
{% endif %}
<h1>
    {% if lesson.replacement %}
    {% for class in lesson.schedule_element.group.related_classes.all %}
        {{ class.number }} {{ class.class_template.name }}
    {% endfor %}
    {{ lesson.replacement.subject }}
    {% else %}
    {{ lesson.schedule_element.group.name }}
    {% endif %}
</h1>
<p>Godzina lekcyjna: {{ lesson.schedule_element.bell.number_of_lesson }}</p>
<a href="{% url 'take_the_register' lesson.slug %}">Sprawdz obecność</a>
<ol>
{% for student in lesson.schedule_element.group.students.all %}
<li>{{ student.user.first_name }} {{ student.user.last_name }}</li>
{% endfor %}
</ol>
{% endblock %}