{% extends 'base.html' %}
{% block title %}
    Nieobecność nauczyciela
{% endblock %}
{% block content %}
<form method="post">
{% csrf_token %}
<h3>Nieobecność nauczyciela: {{ teachers_absence.teacher.user.first_name }} {{ teachers_absence.teacher.user.last_name }}</h3>
<ul>
<li>Data: <input name="date" type="date" value="{{ teachers_absence.date|date:"Y-m-d"  }}"></li>
<li>Od lekcji numer:
<select  name="from_bell">
    <option value="-1">----</option>
    {% for bell in bells %}
    <option value="{{ bell.id }}" {% if teachers_absence.from_bell == bell %} selected {% endif %}>{{ bell.number_of_lesson }}</option>
    {% endfor %}
</select>
</li>
<li>Do lekcji numer:
<select name="to_bell">
    <option value="-1">----</option>
    {% for bell in bells %}
    <option value="{{ bell.id }}" {% if teachers_absence.to_bell == bell %} selected {% endif %}>{{ bell.number_of_lesson }}</option>
    {% endfor %}
</select>
</li>
</ul>
<button type="submit">Zatwierdź</button>
<button formaction="{% url 'teachers_absence_delete' teachers_absence.id %}">Usuń</button>
</form>
{% endblock %}