{% extends 'base.html' %}
{% block title %}
    Terminarz
{% endblock %}
{% block content %}
<h3>Nieobecność nauczyciela: {{ teachers_absence.teacher.user.first_name }} {{ teachers_absence.teacher.user.last_name }}</h3>
<ol>
<li>Data: {{ teachers_absence.date }}</li>
{% if teachers_absence.from_bell %}
<li>Od lekcji numer: {{ teachers_absence.from_bell.number_of_lesson }}</li>
{% endif %}
{% if teachers_absence.to_bell %}
<li>Do lekcji numer: {{ teachers_absence.to_bell.number_of_lesson }}</li>
{% endif %}
</ol>
{% endblock %}