{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<h1>Hello: <a href="{% url 'profile' %}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a></h1>
    <a href="{% url 'teachers_class_list' %}">Klasy</a>
    <a href="{% url 'create_test' %}">Stwórz test</a>
    <a href="{% url 'test_list' %}">Testy</a>
    {% if teacher.is_headmaster and teacher.headmaster.school %}
        <a href="{% url 'headmaster_panel' %}">Szkoła</a>
    {% endif %}

    {% if request.user.is_superuser %}
    <a href="{% url 'administration-home' %}">Administracja</a>
    {% endif %}

    <br>
    <br>
    <br>
    <br>
    <form method="post" action="{% url 'start_lesson' %}">
    {% csrf_token %}
    <button type="submit">Rozpocznij lekcję</button>
    </form>
{% endblock %}