{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Hello: {{ user }}</h1>
{% else %}
    <h1>Hi there!</h1>
{% endif %}
{% if teacher %}
    <a href="{% url 'create_class' %}">Stworz klase</a>
    <a href="{% url 'teachers_class_list' %}">Klasy</a>
    <a href="{% url 'create_test' %}">Stwórz test</a>
    <a href="{% url 'test_list' %}">Testy</a>
{% elif student %}
    <a href="{% url 'class_list' %}">Klasy</a>
    <a href="{% url 'active_tests' %}">Aktywne testy</a>
    <a href="{% url 'my_tests' %}">Moje sprawdziny</a>
{% endif %}



{% endblock %}