{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<h1>Hello: <a href="{% url 'profile' %}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a></h1>
    <a href="{% url 'teachers_class_list' %}">Klasy</a>
    <a href="{% url 'teachers_diary' %}">Terminarz</a>
    <a href="{% url 'messages_list' %}">Wiadomości</a>
    <a href="{% url 'requests_for_excuse' %}">Usprawiedliwienia</a>
    <a href="{% url 'announcement_list' %}">Ogłoszenia</a>
    <a href="{% url 'lesson_list' %}">Zajęcia</a>
    <a href="{% url 'create_test' %}">Stwórz test</a>
    <a href="{% url 'end_school_year' %}">Zakończenie roku</a>
    <a href="{% url 'test_list' %}">Testy</a>
    {% if teacher.is_headmaster and teacher.headmaster.school %}
        <a href="{% url 'headmaster_panel' %}">Szkoła</a>
    {% endif %}

    {% if request.user.is_superuser %}
    <a href="{% url 'administration-home' %}">Administracja</a>
    {% endif %}

    <br>
    <br>
    <br>
    <br>

    <form id="present_lesson_form" method="post" hidden>
    {% csrf_token %}
        <h4>Obecna lekcja:</h4>
        <h1 id="present_lesson_group"></h1>
        <h2 id="present_lesson_number"></h2>
        <h2 id="present_lesson_duration"></h2>
        <button type="submit">Rozpocznij lekcję</button>
    </form>

    <form id="next_lesson_form" method="post" hidden>
    {% csrf_token %}
        <h4>Następna lekcja:</h4>
        <h1 id="next_lesson_group"></h1>
        <h2 id="next_lesson_number"></h2>
        <h2 id="next_lesson_duration"></h2>
        <button type="submit">Rozpocznij lekcję</button>
    </form>

{% endblock %}
{% block scripts %}
<script>
const lessons = JSON.parse("{{ lessons|escapejs }}")
const bells = JSON.parse("{{ bells|escapejs }}")
const present_lesson_form = document.getElementById('present_lesson_form')
const present_lesson_group = document.getElementById('present_lesson_group')
const present_lesson_number = document.getElementById('present_lesson_number')
const present_lesson_duration = document.getElementById('present_lesson_duration')
const next_lesson_form = document.getElementById('next_lesson_form')
const next_lesson_group = document.getElementById('next_lesson_group')
const next_lesson_number = document.getElementById('next_lesson_number')
const next_lesson_duration = document.getElementById('next_lesson_duration')

const get_current_number_of_lesson = ()=>{
    const date = new Date()
    let bell = bells.find(bell => new Date(date.getFullYear(), date.getMonth(), date.getDate(), parseInt(bell.from_time[0]), parseInt(bell.from_time[1]), parseInt(bell.from_time[2])) <= date.getTime() && new Date(date.getFullYear(), date.getMonth(), date.getDate(), parseInt(bell.to_time[0]), parseInt(bell.to_time[1]), parseInt(bell.to_time[2])) >= date.getTime())
    let next_bell = bells[bells.indexOf(bell)+1]

    if (bell) {
        return [bell, next_bell]
    }

    next_bell = bells.find(bell => new Date(date.getFullYear(), date.getMonth(), date.getDate(), parseInt(bell.from_time[0]), parseInt(bell.from_time[1]), parseInt(bell.from_time[2])) >= date.getTime())
    return [false, next_bell]
}

function display_present_lesson(lesson, bell){
    const date = new Date()
    present_lesson_form.hidden = false
    present_lesson_form.setAttribute('action', `/school/start-lesson/${lesson.schedule_element}/${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()}/`)
    present_lesson_group.textContent = lesson.group_name
    present_lesson_number.textContent = `Lekcja: ${lesson.lesson}`
    present_lesson_duration.textContent = `Od ${bell.from_time[0]}:${bell.from_time[1]} do ${bell.to_time[0]}:${bell.to_time[1]}`
}

function display_next_lesson(lesson, bell){
    const date = new Date()
    next_lesson_form.hidden = false
    next_lesson_form.setAttribute('action', `/school/start-lesson/${lesson.schedule_element}/${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()}/`)
    next_lesson_group.textContent = lesson.group_name
    next_lesson_number.textContent = `Lekcja: ${lesson.lesson}`
    next_lesson_duration.textContent = `Od ${bell.from_time[0]}:${bell.from_time[1]} do ${bell.to_time[0]}:${bell.to_time[1]}`
}

function show_lessons(){
    let bell = get_current_number_of_lesson()[0]
    let next_bell = get_current_number_of_lesson()[1]

    if (bell){
        let current_lesson = lessons.find(lesson => lesson.lesson === bell.number_of_lesson)

        if (current_lesson){
            if (prev_bell !== bell){
                display_present_lesson(current_lesson, bell)
            }
        }else{
            present_lesson_form.hidden = true
        }

    }else{
        present_lesson_form.hidden = true
    }
    if (next_bell){
        next_lesson = lessons.find(lesson => lesson.lesson >= next_bell.number_of_lesson)
        if (next_lesson){
            if (prev_next_bell !== next_bell) {
                display_next_lesson(next_lesson, next_bell)
            }
        }else{
            {#next_lesson = lessons.find(lesson => lesson.lesson > bell.number_of_lesson ? bell : next_bell)#}
            {#if (next_lesson){#}
            {#    display_next_lesson(next_lesson, bells.find(bell => bell.number_of_lesson === next_lesson.lesson))#}
            {# }else{#}
                next_lesson_form.hidden = true
            {# }#}
        }

    }else{
        next_lesson_form.hidden = true
    }
    prev_bell = bell
    prev_next_bell = next_bell
}

let prev_bell = ''
let prev_next_bell = ''

setInterval(()=>{
    show_lessons()
}, 1*1000)

show_lessons()

</script>
{% endblock %}