{% extends 'base.html' %}
{% block title %}Edytuj test{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <label>Nazwa:</label>
    <input name="nazwa" type="text" value="{{ test.label }}"><br>
    <label>Czas trwania testu (godziny:minuty:sekundy):</label>
    <input name="countdown" type="text" value="{{ test.countdown }}">
    {% for task in tasks %}
        <h3>Zadanie {{ forloop.counter }}</h3>
        <a href="{% url 'delete_task' task.id %}">(usuń zadanie)</a><br><br>
        <label>Polecenie:</label>
        <textarea name="{{ task.id }}_polecenie">{{ task.content }}</textarea>
        <br>
        {% if task.image %}
            <img src="{{ task.image.url }}"><br>
        {% endif %}
        <label>{% if task.image %}Zmień{% else %}Dodaj{% endif %} zdjęcie:</label>
        <input type="file" name="image_{{ task.id }}" accept="image/*" id="id_image"><br>
        {% if task.image %}
        <button formaction="{% url 'delete_image' task.id %}">Usuń zdjęcie</button>
        {% endif %}

        {% if task.type.label == 'zamkniete' %}
            <ul>
            {% for option in task.answer_options %}
                <li>
                <input name="{{ option.id }}_label" type="text" value="{{ option.label }}">
                <p>Czy poprawna:</p>
{#                <label>Tak</label>#}
{#                <input type="radio" name="{{ option.id }}_is_correct" value="tak" {% if option.is_correct %} checked {% endif %}><br>#}
{#                <label>Nie</label>#}
{#                <input type="radio" name="{{ option.id }}_is_correct" value="nie" {% if not option.is_correct %} checked {% endif %}>#}
                <input name="{{ option.id }}_is_correct"  type="checkbox" class="is_correct" {% if option.is_correct %} checked {% endif %}>
                </li>
                <a href="{% url "delete_answer_option" test.id option.id %}">Usuń</a>
            {% endfor %}
            <li><a href="{% url 'add_answer_option' task.id %}">Dodaj opcje odpowiedzi</a></li>
            </ul>
        {% endif %}
        {% if task.correct_answer %}
        <label>poprawna odpowiedz:</label><br>
        <input name="{{ task.id }}_poprawnaodpowiedz" type="text" value="{{ task.correct_answer }}">
        {% endif %}
        <br>
        <label>Punkty do zdobycia:</label>
        <input type="number" name="{{ task.id }}_points" value="{{ task.points }}">
        <br><hr>
    {% endfor %}
    <br>
    <a href="{% url 'create_task' test.id %}">Utworz zadanie</a><br>
<button type="submit">Zapisz zmiany</button>
</form>
{% endblock %}
{% block scripts %}
<script>
const items = document.getElementsByClassName('is_correct')
Array.from(items).forEach((item)=>{
    item.addEventListener('change', (e)=>{
        const element = e.target
        if (element.checked){
            element.setAttribute('value', 'tak')
        }else{
            element.setAttribute('value', 'nie')
        }

    })
})
</script>
{% endblock %}