{% extends 'base.html' %}
{% block title %}Test użytkownika {{ test.student.user.first_name }}{% endblock %}
{% block content %}
<h1>{{ test.label }}</h1>
<h2>{{ student.user.first_name }} {{ student.user.last_name }}</h2>
<hr>
    <ol>
    <form method="post">
    {% csrf_token %}
    {% for task, answer in tasks_answers %}
    <li><h3>{{ task.content }}</h3></li>
    {% if task.image %}
        <img src="{{ task.image.url }}">
    {% endif %}
    <p><b>Odpowiedz:</b></p>
    <p>
    {% if answer.task.type.label == 'zamkniete' or answer.task.type.label == 'krotka_odpowiedz' %}
        {{ answer.char_field }}
        {% if not answer.is_correct %}
            <p><b>Poprawna odpowiedz:</b> {{ task.correct_answer_option.label }}</p>
        {% endif %}
    {% elif answer.task.type.label == 'otwarte' %}
        {{ answer.textarea }}
    {% endif %}
    </p>
        <p>
        Punktacja:
        </p>
        <p>
            <input name="{{ task.id }}" value="{{ answer.earned_points }}"> /
            <b>{{ task.points }}</b>
        </p>
    {% endfor %}
    <button type="submit">Oceń</button>
    </form>
    </ol>
    {% if test.mark %}
    <p></p>
    <h1>Ocena: {{ test.mark }}</h1>
    <h3>{{ test.total_points }} / {{ test.blank_test.total_points }}</h3>
    {% endif %}
{% endblock %}