{% extends 'base.html' %}
{% block title %}Test użytkownika {{ test.student.user.first_name }}{% endblock %}
{% block content %}
<h1>{{ test.label }}</h1>
<h2>{{ student }}</h2>
<hr>
    <ol>
    {% for task, answer in tasks_answers %}
    <li><h3>{{ task.content }}</h3></li>
    <p><b>Odpowiedz:</b></p>
    <p>
    {% if answer.task.type.label == 'zamkniete' or answer.task.type.label == 'krotka_odpowiedz' %}
        {{ answer.char_field }}
    {% elif answer.task.type.label == 'otwarte' %}
        {{ answer.textarea }}
    {% endif %}
    </p>
    {% endfor %}
    </ol>
{% endblock %}