{% extends 'base.html' %}
{% block title %}Lista zadań{% endblock %}
{% block content %}
<h1>{{ test.label }}</h1>
<form method="post" action="{% url "activate_or_deactivate_test" test.id %}">
{% csrf_token %}
<button type="submit">
    {% if test.is_active %}
    Dezaktywuj
    {% else %}
    Aktywuj
    {% endif %}
</button>
</form>
<br>
<a href="{% url 'edit_test' test.id %}">(edytuj)</a>
<a href="{% url 'delete_test' test.id %}">(usuń)</a>
<a href="{% url 'edit_threshold' test.id %}">(edytuj progi puntowe)</a>
<br>
<ol>
    {% for task in tasks %}
        <h4>Zadanie {{ forloop.counter }}</h4>
        <p>{{ task.content }}</p>
        {% if task.image %}
        <img src="{{ task.image.url }}">
        {% endif %}
        {% if task.type.label == 'zamkniete' %}
            <ul>
            {% for option in task.answer_options %}
                <li>
                    {{ option.label }}
                </li>
            {% endfor %}
            <p><b>Poprawna odpowiedz: {{ task.correct_answer_option.label }}</b></p>
            </ul>
        {% endif %}
        {% if task.correct_answer %}
        <p><b>Poprawna odpowiedz: {{ task.correct_answer }}</b></p>
        {% endif %}
        <p>Punktów do zdobycia: {{ task.points }}</p>
    {% endfor %}

    <a href="{% url 'create_task' test.id %}">Dodaj zadanie</a>

</ol>
{% endblock %}