{% extends 'base.html' %}
{% block title %}Lista zadań{% endblock %}
{% block content %}
<a href="{% url 'test_list' %}"><-- powrot do testów</a>
<h1>{{ test.label }}</h1>
<form method="post" action="{% url "activate_or_deactivate_test" test.id %}">
{% csrf_token %}
<button type="submit">
    {% if test.is_active %}
    Dezaktywuj
    {% else %}
    Aktywuj
    {% endif %}
</button>
</form>
<br>
<a href="{% url 'edit_test' test.id %}">(edytuj)</a>
<a href="{% url 'delete_test' test.id %}">(usuń)</a>
<a href="{% url 'edit_threshold' test.id %}">(edytuj progi puntowe)</a>
<br>
<p>Wyjścia z testu:
    {% if test.are_exists_allowed %}
    Dopuszczone
    {% else %}
    {{ test.allowed_exits }}
    {% endif %}
</p>
    <hr>
<ol>
    {% for group in test.testgroup_set.all %}
    <h2>Grupa {{ group.number }}</h2>
    {% for task in group.task_set.all %}
        <h4>Zadanie {{ forloop.counter }}</h4>
        <a href="{% url 'edit_task' test.id task.id %}">Edytuj zadanie</a>
        <a href="{% url 'delete_task' task.id %}">Usuń zadanie</a>
        <p>{{ task.content|linebreaks }}</p>
        {% if task.image %}
        <img src="{{ task.image.url }}">
        {% endif %}
        {% if task.file %}
        <audio controls>
        <source src="{{ task.file.url }}">
        </audio>
        {% endif %}
        {% if task.type.label == 'zamkniete' %}
            <ul>
            {% for option in task.answer_options %}
                <li>
                    {{ option.label }}
                    {% if option.img %}
                    <img src="{{ option.img.url }}">
                    {% endif %}
                </li>
            {% endfor %}
            <p><b>Poprawna odpowiedz: {{ task.correct_answer_option.label }}</b>
            {% if task.correct_answer_option.img %}
                    <img src="{{ task.correct_answer_option.img.url }}">
            {% endif %}
            </p>
            </ul>
        {% endif %}
        {% if task.type.label == 'prawda/fałsz' %}
            <ol>
            {% for option in task.truefalsetask_set.all %}
            <li>{{ option.content }}
            {% if option.is_correct %}
            Prawda
            {% else %}
            Fałsz
            {% endif %}
            </li>
            {% endfor %}
            </ol>
        {% endif %}
        {% if task.correct_answer %}
        <p><b>Poprawna odpowiedz: {{ task.correct_answer }}</b></p>
        {% endif %}
        <p>Punktów do zdobycia: {{ task.points }}</p>
    {% endfor %}

    <a href="{% url 'create_task' test.id group.id %}">Dodaj zadanie</a>
    {% endfor %}

</ol>
{% endblock %}