{% extends 'base.html' %}
{% load static %}
{% block title %}Test{% endblock %}
{% block content %}
<h1>{{ test.label }}</h1>
<h3 id="student">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
<br>
<div id="endTestBox" hidden>{{ end_test }}</div>
<div id="timeLeft"></div>
<form id="testForm" method="POST" action="{% url 'save_answers' test.id %}" autocomplete="off">
{% csrf_token %}
    {% for task in tasks %}
        <h4>Zadanie {{ forloop.counter }}</h4>
        <p>{{ task.content|linebreaks }}</p>
        {% if task.image %}
            <img src="{{ task.image.url }}">
        {% endif %}
        {% if task.file %}
        <audio controls>
        <source src="{{ task.file.url }}">
        </audio>
        {% endif %}
        {% if task.type.label == 'zamkniete' %}
            <ul>
            {% for option in task.answer_options %}
                <li>
                    <input name="{{ task.id }}" value="{{ option.id }}" type="radio">
                    <label>{{ option.label }}</label>
                    {% if option.img %}
                    <img src="{{ option.img.url }}">
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% elif task.type.label == 'otwarte' %}
            <textarea name="{{ task.id }}"></textarea>
        {% elif task.type.label == 'krotka odpowiedz' %}
            <label>Podaj odpowiedz</label>
            <input name="{{ task.id }}" type="text">
        {% elif task.type.label == 'tablica' %}
            <button id="{{ task.id }}" class="clearBtn">Clear all</button>
            <input id="{{ task.id }}" class="color" type="color">
            <canvas id='{{ task.id }}' style="border: 1px solid black;"></canvas>
            <input name="{{ task.id }}" type="hidden" class="hiddenInput">
        {% endif %}
    {% endfor %}
    <button id="submit_form" type="submit">Submit</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/test.js' %}" defer></script>
{% endblock %}