{% extends 'base.html' %}
{% block title %}
Progi punktowe
{% endblock %}
{% block content %}
{% if blanktest.threshold %}
    <table>
    <tr>
        <th>
            Ocena:
        </th>
        <th>
            Od:
        </th>
        <th>
            Do:
        </th>
    </tr>
    {% for mark in blanktest.threshold %}
        <tr>
            <td>
                {{ mark.mark }}
            </td>
            <td>
                {{ mark.from_percent }}%
            </td>
            <td>
                {{ mark.to_percent }}%
            </td>
            <td>
                <form method="post" action="{% url 'delete_threshold' blanktest.id mark.id %}">{% csrf_token %} <button type="submit">X</button></form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
<form method="post">
{% csrf_token %}
    <label>Ocena:</label>
    <input type="text" name="mark">
    <label>Od [%]</label>
    <input type="number" name="from_percent">
    <label>Do [%]</label>
    <input type="number" name="to_percent">
    <button type="submit">Dodaj próg punktowy</button>
</form>
{% if blanktest.threshold %}
<a href="{% url 'edit_threshold' blanktest.id %}">Edytuj progi puntowe</a>
{% endif %}
<p>(mozesz pominac ten krok klikająć dalej)</p>
<a href="{% url 'create_task' blanktest.id blanktest.testgroup_set.first.id %}">Dalej</a>
{% endblock %}